<div class="about" style="display: flex;">
    <div style="padding: 10px;">
        <img style="width: 250px;" src="{{data.image}}" alt="">
    </div>
    <div style="width:350px">
        <h1>{{data.title}}</h1>
        <span>{{data.released}}</span><br>
        <span>{{data.description}}</span><br>
        {{!-- <span>{{data.genre}}</span><br> --}}
        <span>{{data.year}}</span><br>
        <span>{{data.time_seasons}}</span><br>
        <span>{{data.alternate}}</span><br>
        <span>{{data.episodes_count}}</span><br>
        <div style="margin-top: 8px;">
            <a href="/" class="btn-primary">Home</a>
        </div>
    </div>
</div>

