<div style="">
    {{#each data}}
        <div style="margin:8px;">
            <h3>{{title}}</h3>
            <p>{{released_ep_count}}</p>
            <div>
                <a href="/about/{{slug}}" class="btn-primary" style="margin-bottom: 10px;">About</a>
                <a href="/{{slug}}/{{id}}" class="btn-primary">Get Episodes</a>
            </div>
        </div>
    {{/each}}
</div>